/******* BASE *******/

* {
  /*font-size: 1.15em;*/
}

html, body {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 0px;
}

a {
  text-decoration: none;
}

ul {
  /*border: 0px;
  margin: 0px;
  padding: 0px;*/
}

section {
  /*display: block;*/
  padding: 20px;
}

button {
  padding: 10px 20px;
  border: none;
}
footer{
  padding: 1em;
}
