/******* MODULE *******/

/* Landing Page */

#landing {
  text-align: center;
}

#landing input, #landing select, #landing option {
  display: block;
  margin: 0px auto 30px auto;
  width: 200px;
  text-align: center;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid lightgray;
  color: rgba(0,0,0,.60);
}

#landing select {
  -webkit-appearance: none;
  -moz-appearance: none;*/
  appearance: none;
}

#landing button {
  background-color: rgba(255, 0, 0, 0.79);
}

/* Cloud Tags Search */
#search {
  padding: 20px;
  text-align: center;
}

#search button {
  background-color: rgba(0, 113, 188, 0.79);
}

.selected {
  opacity: .55;
}


/* About */
