/******* MODULE *******/


/* Landing Page */

#landing {
  max-width: 16em;
  margin: 0 auto;
  padding-top: 5em;
  border-radius: 10px;
  background-color: gainsboro;
  text-align: center;
}

#landing input,
#landing select,
#landing option {
  display: block;
  margin: 0px auto 30px auto;
  width: 200px;
  text-align: center;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid lightgray;
  color: rgba(0, 0, 0, .60);
}

#landing select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
}

#landing button {
  background-color: rgba(255, 0, 0, 0.79);
}


/* Cloud Tags Search */

#search {
  padding: 10px;
  text-align: center;
}

#search button {
  background-color: rgba(0, 113, 188, 0.79);
}

.selected {
  opacity: .55;
}

#about {
  display: flex;
  margin: 1em;
  padding: 2em;
  flex: row;
  justify-content: space-around;

}

.bio {
  padding: 2em;
}

.bio {
  width: 100%;
  margin: 0 auto;  
  box-sizing: border-box;
}